@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 color: black;
}

/* header */

.header-container{
    height: 80vh;
    width: 100vw;
    background-color: white;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: 82%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
                   
h1{
font-size: 65px;
text-transform: uppercase;
letter-spacing: 4px;
}

h2{
text-transform: uppercase;
letter-spacing: 4px;
}

.social-media{
    margin-top: 1rem;
    display: flex;
  
}

.social-media a {
text-decoration: none;
color: black;
padding: 1rem 4rem;
border: 1px solid black;
border-radius: 8px;
min-width: 8rem;
display: flex;
align-items: center;
justify-content: center;
transition: 1s ease-in-out;
}

a:hover {
    background-color:#8570a9;
}

/* CARD */

.container{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    background-color: #8570a9;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-style: solid;
    margin:3rem 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#8570a9;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 1px solid black;
   
}

.card-text{
    width: 40%;
    letter-spacing: 1px;
  color:#000;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 
}
.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color: black;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 250px;
    width: 250px;
    opacity: 1;
}

.aboutme-container{
    background-color: white;
    margin: 3rem 0 0 0;
}

.aboutme-title{
    text-align: center;
    font-size: 40px;
}

.aboutme{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 5rem 10rem 10rem 10rem ;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    background-color: #8570a9;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.footer img {
    width: 40px;  
    border-radius: 18px;
}

.footer ul {
    margin: 0;
    list-style: none;
    display: inline-flex;
  
}
.footer ul li {
    margin-left: 20px;
    margin-top: 8px;
}